{% extends 'Home/base.html' %}
{% load static %}

{% block body %}
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Ajouter un Étudiant</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'student_list' %}">Étudiants</a></li>
                <li class="breadcrumb-item active">Ajouter</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Prénom</label>
                                <input type="text" name="first_name" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Nom</label>
                                <input type="text" name="last_name" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>ID Étudiant</label>
                                <input type="text" name="student_id" class="form-control" required placeholder="ex: STU123">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Genre</label>
                                <select name="gender" class="form-control" required>
                                    <option value="">Sélectionner</option>
                                    <option value="M">Masculin</option>
                                    <option value="F">Féminin</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Date de Naissance</label>
                                <input type="date" name="date_of_birth" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Classe</label>
                                <input type="text" name="student_class" class="form-control" required placeholder="ex: 10th">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Section</label>
                                <input type="text" name="section" class="form-control" placeholder="ex: A">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Numéro d'Admission</label>
                                <input type="text" name="admission_number" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Date d'Adhésion (Joining Date)</label>
                                <input type="date" name="joining_date" class="form-control" required>
                            </div>
                        </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Téléphone Mobile</label>
                                <input type="text" name="mobile_number" class="form-control">
                            </div>
                        </div>

                        <!-- Informations des Parents -->
                        <div class="col-12">
                            <h5 class="form-title"><span>Informations des Parents</span></h5>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Nom du Père</label>
                                <input type="text" name="father_name" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Profession du Père</label>
                                <input type="text" name="father_occupation" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Mobile du Père</label>
                                <input type="text" name="father_mobile" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Email du Père</label>
                                <input type="email" name="father_email" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Nom de la Mère</label>
                                <input type="text" name="mother_name" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Profession de la Mère</label>
                                <input type="text" name="mother_occupation" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Mobile de la Mère</label>
                                <input type="text" name="mother_mobile" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Email de la Mère</label>
                                <input type="email" name="mother_email" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label>Adresse Actuelle</label>
                                <textarea name="present_address" class="form-control" required></textarea>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12">
                            <div class="form-group">
                                <label>Adresse Permanente</label>
                                <textarea name="permanent_address" class="form-control" required></textarea>
                            </div>
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
