{% extends 'Home/base.html' %}
{% load static %}

{% block body %}
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Modifier l'Étudiant</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'student_list' %}">Étudiants</a></li>
                <li class="breadcrumb-item active">Modifier</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Prénom</label>
                                <input type="text" name="first_name" class="form-control" value="{{ student.first_name }}" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Nom</label>
                                <input type="text" name="last_name" class="form-control" value="{{ student.last_name }}" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>ID Étudiant</label>
                                <input type="text" name="student_id" class="form-control" value="{{ student.student_id }}" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Genre</label>
                                <select name="gender" class="form-control" required>
                                    <option value="M" {% if student.gender == 'M' %}selected{% endif %}>Masculin</option>
                                    <option value="F" {% if student.gender == 'F' %}selected{% endif %}>Féminin</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Date de Naissance</label>
                                <input type="date" name="date_of_birth" class="form-control" value="{{ student.date_of_birth|date:'Y-m-d' }}" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Classe</label>
                                <input type="text" name="student_class" class="form-control" value="{{ student.student_class }}" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Section</label>
                                <input type="text" name="section" class="form-control" value="{{ student.section|default:'' }}">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Numéro d'Admission</label>
                                <input type="text" name="admission_number" class="form-control" value="{{ student.admission_number|default:'' }}">
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Téléphone Mobile</label>
                                <input type="text" name="mobile_number" class="form-control" value="{{ student.mobile_number|default:'' }}">
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Mettre à jour</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
