{% extends 'Home/base.html' %}
{% load static %}

{% block body %}
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Modifier la Matière</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'subject_list' %}">Matières</a></li>
                <li class="breadcrumb-item active">Modifier</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Nom de la Matière</label>
                                <input type="text" name="name" value="{{ subject.name }}" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Classe</label>
                                <input type="text" name="class_name" value="{{ subject.class_name }}" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <div class="form-group">
                                <label>Enseignant</label>
                                <select name="teacher" class="form-control" required>
                                    {% for teacher in teachers %}
                                    <option value="{{ teacher.id }}" {% if teacher.id == subject.teacher.id %}selected{% endif %}>{{ teacher.first_name }} {{ teacher.last_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
