{% extends 'Home/base.html' %}
{% load static %}

{% block body %}
<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">Bienvenue {{ user.username }} !</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item active">Espace Étudiant</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-3 col-sm-6 col-12 d-flex">
        <div class="card bg-one w-100">
            <div class="card-body">
                <div class="db-widgets d-flex justify-content-between align-items-center">
                    <div class="db-info">
                        <h6>Mes Cours</h6>
                        <h3>04/06</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Mon Emploi du Temps Aujourd'hui</h5>
            </div>
            <div class="card-body">
                
                <div class="calendar-info">
                   <p><strong>09 am :</strong> Fermentum (09am - 10pm)</p>
                   <p><strong>10 am :</strong> Pharetra et (10am - 11am)</p>
                   <p><strong>11 am :</strong> Break (11am - 11.30am)</p>
                </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}